---

---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Ping</title>
	</head>
	<body>
		<button id='main'>Press ME</button>
    <button id='secondary'>update</button>
    <pre></pre>
	</body>
</html>

<style>
  body {
    background-color: black;
    color: white;
  }
</style>

<script>
  import Glimpser from 'glimpser'

  const client = new Glimpser({ warn: false })

  const button = document.querySelector('#main')
  const button2 = document.querySelector('#secondary')

  const pre = document.querySelector('pre') as HTMLPreElement

  pre.textContent = JSON.stringify(client.context, null, 2)

  button?.addEventListener('click', async () => {
    await client.addUserData()
    await client.addBatteryData()

    pre.textContent = JSON.stringify(client.context, null, 2)
  })

  button2?.addEventListener('click', () => {
    client.refresh('session')

    pre.textContent = JSON.stringify(client.context, null, 2)
  })

  
</script>
